*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D1FFD7;
}
.container{
    background-color:#B3FFB3 ;
    min-height: 45vh;
    width: 40vh;
    border-radius: 1rem;
    
}
h1{
    font-weight: bolder;
    margin-left: 30%;
}
p{
    margin-left: 30%;
    margin-top: 35vh;
}
.input{
    text-align: center;
}
.response{
    margin: 5px;
    text-align: center;
}
input{
    background-color: #A6D3A0;
    border-radius: 7px;
    min-height: 32px;
    border: none;
    text-align: center;
    margin-top: 1rem;
    min-width: 35vh;
}
.btn{
    background-color: #142a11;
    border-radius: 7px;
    min-height: 32px;
    border: none;
    margin-top: 1rem;
    text-align: center;
    color: white;
    width: 200px;
    cursor: pointer;

}
.btn:hover{
    background-color: #21451c;
}