
ul{
    display: flex;
   justify-content: space-evenly;
}
.nav{
   
    background-color: black;
}
a{
    text-decoration: none;
    color: antiquewhite;
}
li{
    list-style-type: none;
    display: inline;
}
#outer{
    background-color: cadetblue;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inner{
    background-color: blue;
    height: 150px;
    width: 150px;
}