*{
    padding: 0;
    margin: 0;
}

section{
    background-color: #0f1111;
    height: 60px;
   
    
}
#ama{
    text-decoration: none;
    color: orange;
    margin-left: 100px;
    font-size: 25px;
}
#link{
    color: white;
    text-decoration: none;
    margin-left: 200px;
}
#btn{
    background-color: #f08804;
    color: white;
}
#bar{
    margin-left: 200px;
}
#id1{
    background-color: rgba(255, 0, 0, 0.5);
}
#id2{
    background-color: rgba(0, 0, 255, 0.5);
}
#id3{
    background-color: rgba(0, 255, 0, 0.5);
}
#content{
    height: 750px;
    border: none;
    
}
.dd{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid black;
}