.loader{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid yellow;
    border-top: 20px solid pink;
    animation: spinAnimate;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes spinAnimate{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}